
body,h1,ul,li{
    margin: 0;
    padding: 0;
    color: #000000;
    float: inherit;
    
}
 
body{
    background: #6541F5;
    font-family: sans-serif  ;
}
 
.sayfa{
    width: 950px;
    margin:50px auto;
}
 
#baslik{
    float: center;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}
 
#menu{
    float: right;
    list-style: none;
    margin-top: 1em;
}
 
#menu li{
    float: left;
    
}
 
#menu li a{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
}
 
#menu a:hover{
    background: #444;
    border-radius: 15px;
}
 
.orta{
    margin-top: 30px;
    background: #9F95FF;
 
}
 
.orta-sol{
    float: left;
    width: 500px;
}
 
 
.orta-sag{
    float: left;
    margin: 15px;
    width: 490px;
    color: #936;
}
 
.alt{
    background: #DFDFDF ;
    padding: 20px;
    text-align: center;
    color: #000;
}
.alt a{
     color: #000000;
}
 
.temizle{
    clear: both;
}
